<!-- wp:group {"style":{"spacing":{"blockGap":"0","padding":{"right":"0","left":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-right:0;padding-left:0"><!-- wp:template-part {"slug":"header","theme":"wens-track","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">

    <!-- wp:pattern {"slug":"wens-track/section-one"} /-->
    <!-- wp:pattern {"slug":"wens-track/section-two"} /-->
    <!-- wp:pattern {"slug":"wens-track/section-three"} /-->
    <!-- wp:pattern {"slug":"wens-track/section-four"} /-->
    <!-- wp:pattern {"slug":"wens-track/section-five"} /-->

<!-- wp:group {"metadata":{"name":"blogs"},"align":"full","style":{"spacing":{"padding":{"top":"120px","bottom":"120px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-top:120px;padding-bottom:120px"><!-- wp:group {"style":{"spacing":{"blockGap":"12px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","level":6,"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-color-2"}}}},"textColor":"custom-color-2"} -->
<h6 class="wp-block-heading has-text-align-center has-custom-color-2-color has-text-color has-link-color"><strong>Treker Top News</strong></h6>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center"><strong>Treker Latest News</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Get inspired and informed with our latest travel guides and stories</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:query {"queryId":0,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"className":"wrap-the-columns","layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"className":"wensa-prova-image-ani","style":{"spacing":{"blockGap":"0","margin":{"top":"0","bottom":"0"},"padding":{"right":"0","left":"0","top":"0","bottom":"0"}},"border":{"radius":"10px","style":"dashed","width":"1px"}},"backgroundColor":"custom-light-bg","borderColor":"custom-color-2","layout":{"type":"constrained"}} -->
<div class="wp-block-group wensa-prova-image-ani has-border-color has-custom-color-2-border-color has-custom-light-bg-background-color has-background" style="border-style:dashed;border-width:1px;border-radius:10px;margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"style":{"spacing":{"blockGap":"0"},"border":{"radius":"10px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="border-radius:10px"><!-- wp:post-featured-image {"aspectRatio":"auto","sizeSlug":"large","className":"img-hover-zoom","style":{"border":{"radius":{"topLeft":"5px","topRight":"5px"}}}} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"16px","bottom":"24px","left":"16px","right":"16px"},"blockGap":"16px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:16px;padding-right:16px;padding-bottom:24px;padding-left:16px"><!-- wp:group {"style":{"spacing":{"blockGap":"12px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-date {"style":{"typography":{"fontSize":"14px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"16px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-title {"level":3,"isLink":true} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wens-track","area":"footer"} /--></div>
<!-- /wp:group -->