<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"header","theme":"wens-track","area":"header","align":"full"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull"><!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":50,"overlayColor":"custom-color-5","isUserOverlayColor":true,"minHeight":400,"isDark":false,"style":{"spacing":{"margin":{"bottom":"50px"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light" style="margin-bottom:50px;min-height:400px"><span aria-hidden="true" class="wp-block-cover__background has-custom-color-5-background-color has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:heading {"textAlign":"center","style":{"typography":{"textTransform":"uppercase"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
<h2 class="wp-block-heading has-text-align-center has-base-color has-text-color has-link-color" style="text-transform:uppercase">Details News</h2>
<!-- /wp:heading --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"60px","bottom":"90px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:60px;padding-bottom:90px"><!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"left":"40px"}}}} -->
<div class="wp-block-columns alignwide"><!-- wp:column {"verticalAlignment":"top","width":"66.66%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:66.66%"><!-- wp:post-featured-image {"height":"450px","style":{"spacing":{"margin":{"top":"0rem"}},"border":{"radius":"5px"}}} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"12px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-date {"style":{"typography":{"fontSize":"14px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"level":3} /-->

<!-- wp:post-content /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"36px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:36px"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"12px"}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"left"}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"level":3,"style":{"typography":{"fontSize":"20px"}}} -->
<h3 class="wp-block-heading" style="font-size:20px">Categories:</h3>
<!-- /wp:heading -->

<!-- wp:post-terms {"term":"category","style":{"typography":{"fontSize":"14px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"12px"}},"layout":{"type":"flex","flexWrap":"wrap"}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"level":3,"style":{"typography":{"fontSize":"20px"}}} -->
<h3 class="wp-block-heading" style="font-size:20px">Tags:</h3>
<!-- /wp:heading -->

<!-- wp:post-terms {"term":"post_tag","style":{"typography":{"fontSize":"14px"}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"30px","bottom":"var:preset|spacing|70","right":"var:preset|spacing|50","left":"var:preset|spacing|50"},"margin":{"top":"var:preset|spacing|70"}},"border":{"radius":"5px"}},"backgroundColor":"custom-color-4","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-custom-color-4-background-color has-background" style="border-radius:5px;margin-top:var(--wp--preset--spacing--70);padding-top:30px;padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--50)"><!-- wp:comments -->
<div class="wp-block-comments"><!-- wp:comments-title {"level":3,"fontFamily":"abhaya-libre"} /-->

<!-- wp:comment-template {"style":{"typography":{"lineHeight":"1.5"}},"fontSize":"extra-small"} -->
<!-- wp:columns {"backgroundColor":"base"} -->
<div class="wp-block-columns has-base-background-color has-background"><!-- wp:column {"width":"40px"} -->
<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:comment-author-name {"style":{"typography":{"fontSize":"15px"}}} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"style":{"typography":{"fontSize":"15px"}}} /-->

<!-- wp:comment-edit-link {"style":{"typography":{"fontSize":"15px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:comment-content /-->

<!-- wp:comment-reply-link {"style":{"typography":{"fontSize":"15px"}}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-numbers /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form {"style":{"typography":{"fontSize":"15px"}}} /--></div>
<!-- /wp:comments --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%"} -->
<div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:group {"className":"wens-prova-sticky","style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group wens-prova-sticky"><!-- wp:group {"className":"wens-haelo-pro-sidebar-widget","style":{"spacing":{"padding":{"top":"30px","bottom":"30px","left":"20px","right":"20px"},"blockGap":"0"},"elements":{"link":{"color":{"text":"var:preset|color|custom-neutral"}}},"border":{"radius":"10px"}},"backgroundColor":"custom-color-4","textColor":"custom-neutral","layout":{"type":"constrained"}} -->
<div class="wp-block-group wens-haelo-pro-sidebar-widget has-custom-neutral-color has-custom-color-4-background-color has-text-color has-background has-link-color" style="border-radius:10px;padding-top:30px;padding-right:20px;padding-bottom:30px;padding-left:20px"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-primary-color"}}},"spacing":{"blockGap":"0"}},"textColor":"custom-primary-color","layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group has-custom-primary-color-color has-text-color has-link-color"><!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Search</h4>
<!-- /wp:heading -->

<!-- wp:search {"label":"","placeholder":"search here........","width":100,"widthUnit":"%","buttonText":"Search","style":{"elements":{"link":{"color":{"text":"var:preset|color|base"}}},"border":{"radius":"5px"},"typography":{"fontSize":"16px"}},"textColor":"base"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"wens-haelo-pro-sidebar-widget","style":{"spacing":{"padding":{"top":"30px","bottom":"30px","left":"20px","right":"20px"},"blockGap":"0"},"elements":{"link":{"color":{"text":"var:preset|color|custom-neutral"}}},"border":{"radius":"10px"}},"backgroundColor":"custom-color-4","textColor":"custom-neutral","layout":{"type":"constrained"}} -->
<div class="wp-block-group wens-haelo-pro-sidebar-widget has-custom-neutral-color has-custom-color-4-background-color has-text-color has-background has-link-color" style="border-radius:10px;padding-top:30px;padding-right:20px;padding-bottom:30px;padding-left:20px"><!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|custom-primary-color"}}}},"textColor":"custom-primary-color","layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group has-custom-primary-color-color has-text-color has-link-color"><!-- wp:heading {"level":4} -->
<h4 class="wp-block-heading">Categories</h4>
<!-- /wp:heading -->

<!-- wp:categories /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wens-track","area":"footer","align":"full"} /--></div>
<!-- /wp:group -->